{% load static %}
<!--Main html file, for the general website layout-->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'game' %}">Game</a>
        <a href="{% url 'support' %}">Support</a>
        <a href="{% url 'forum' %}">Forum</a>
        <a href="{% url 'signup' %}"><button>Sign Up</button></a>
        <a href="{% url 'login' %}"><button>Log In</button></a>


    </div>

    {% block content %}
    {% endblock %}
</body>
</html>
